<% if (@questions.count == 0) %>
	<h>There is no questions for you</h>
<% else %>
<form>
	<% index = 0 %>
	<div class="panel-group" id="accordion">
	<% @questions.each do |q| %>
		<div class="panel panel-default">
			<div class="panel-heading">
      			<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#accordion" href="#<%= index.to_s %>">Q<%= (index + 1).to_s %></a>
      			</h4>
    		</div>
			<div id="<%= index.to_s %>" class="panel-collapse collapse in">
				<i><b><div class="jumbotron"><%= q.description %></b></i>
				<br><% if q.age != "" %>
					<b>Age:</b><%= q.age %>&nbsp;&nbsp;&nbsp;
				<% end %>

				<% if q.gender != "" %>
					<b>Gender:</b><%= q.gender %>&nbsp;&nbsp;&nbsp;
				<% end %>

				<% if q.race != "" %>
					<b>Race:</b><%= q.race %>&nbsp;&nbsp;&nbsp;
				<% end %>

				<% if q.smoking_status != "" %>
					<b>Smoking Status:</b><%= q.smoking_status %>&nbsp;&nbsp;&nbsp;
				<% end %>

				<% if q.immunocompromised != "" %>
					<b>Immunocompromised:</b><%= q.immunocompromised %>&nbsp;&nbsp;&nbsp;
				<% end %>

				<% if q.renal_impairment != "" %>
					<b>Renal Impairment:</b><%= q.renal_impairment %>&nbsp;&nbsp;&nbsp;
				<% end %>

				<% if q.pregnancy != "" %>
					<b>Pregnancy:</b><%= q.pregnancy %>
				<% end %>
				<br><div class="text-right">
					Created at <%= q.created_at.in_time_zone('Eastern Time (US & Canada)').to_s[0, 19] %>
				</div>

				<!-- answers are here -->
				<% answers = Answer.where("question_id = ?", q.id) %>
				<% if (answers.count != 0) %>
					<br><div class="text-center">
						<p><b>Answers</b></p>
					</div>
					<% answers.each do |answer| %>
						<b><%= User.where("id = ?", answer.user_id).take.username %>: </b>
						<b><i><%= answer.description %></i></b>
						<br>
					<% end %>
				<% end %>

				<div class="text-center">
					<br><p><b>Post your answer here</b></p>
				</div>
				<%= text_area_tag(@ids[index].to_s, "", size: "24x12") %>
			</div>

			<% index += 1 %>
		</div>
	</div>
	<% end %> 
	<br><div class="text-center">
		<button type="submit" class="btn btn-success btn-lg">Submit</button>
	</div>
</form>
<% end %>