<div class="jumbotron">

	<div class="container-fluid">
		<div class="form-group">
			<label>QUESTION</label>
			<p><%= flash[:question] %></p>
		</div><br>

		<div class="form-group">
			<label>AGE</label>
			<p><%= flash[:age] %></p>
		</div><br>

		<br><div class="form-group">
			<label>GENDER</label>
			<p><%= flash[:gender] %></p>
		</div></br>

		<br><div class="form-group">
			<label>RACE</label>
			<p><%= flash[:race] %></p>
		</div></br>

		<br><div class="form-group">
			<label>SMOKING STATUS</label>
			<p><%= flash[:smoking] %></p>
		</div></br>

		<br><div class="form-group">
			<label>IMMUNOCOMPROMISED</label>
			<p><%= flash[:immu] %></p>
		</div></br>

		<br><div class="form-group">
			<label>RENAL IMPAIRMENT</label>
			<p><%= flash[:renal] %></p>
		</div></br>

		<br><div class="form-group">
			<label>PREGNANCY</label>
			<p><%= flash[:preg] %></p>
		</div></br>
	</div>

</div>

	
