<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Age:</strong>
  <%= @question.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @question.gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @question.race %>
</p>

<p>
  <strong>Smoking status:</strong>
  <%= @question.smoking_status %>
</p>

<p>
  <strong>Immunocompromised:</strong>
  <%= @question.immunocompromised %>
</p>

<p>
  <strong>Renal impairment:</strong>
  <%= @question.renal_impairment %>
</p>

<p>
  <strong>Pregnancy:</strong>
  <%= @question.pregnancy %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @question.tag %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
